<div class="container padded">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h1><%= @user.first_name %> <%= @user.last_name %></h1>

      <%= image_tag @user.picture, size: "300x300"%>
    </div>
  </div>
</div>