<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Address</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <div class="address">
                    <p><i class="fa fa-map-marker"></i> 99 Ruby Street</p>
                    <p><i class="fa fa-phone"></i>Brussels, Belgium</p>
                    <p><i class="fa fa-envelope-o"></i> <span>info@qbnb.com</span></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>What is it?</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <p class="m_14">QBNB ... Where hipsters book their place to stay.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Quick Links</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <div class="footer_lists">
                    <ul class="list">
                        <li><%= link_to "Home", root_path %></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Rates</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="list">
                        <li><%= link_to "Sign In", new_user_session_path %></li>
                        <li><%= link_to "Sign Up", new_user_registration_path %></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Information</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <p class="m_14">Find the place that matches your needs. Host guests and earn away.</p>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="copy">
                <p>
                    &copy; 2015 - QBNB. All Rights Reserved.
                </p>
                <p>
                    Disclaimer - Privacy - Cookies
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</footer>