
<div class="browse-container">
  <div class='row'>
    <div class="col-sm-12">
      <div class="title">
        <p>Just for the weekend</p>
      </div>
      <div class="subtitle">
         <p>Discover new, inspiring places close to home.</p>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-sm-4 image-box">
     <%= image_tag "amsterdam.jpg" %>
      <div class="text-on-picture">
        <p>Amsterdam </p>
      </div>
    </div>
    <div class="col-sm-4 image-box">
      <%= image_tag "brussels.jpg" %>
      <div class="text-on-picture">
        <p>Brussels</p>
      </div>
    </div>
    <div class="col-sm-4 image-box">
      <%= image_tag "new_york.jpg" %>
      <div class="text-on-picture">
        <p>New York</p>
      </div>
    </div>
  </div>
</div>