<!-- http://placeholder.seydoggy.com/ -->
<!-- http://rvera.github.io/image-picker/ -->
<div class="browse-container">
  <div class='row'>
    <div class="col-sm-12">
      <div class="title">
        <p>Discover nice properties</p>
      </div>
      <div class="subtitle">
         <p>Get inspired by destinations our travelers love.</p>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-sm-4 image-box">
     <%= image_tag @picture %>
      <div class="text-on-pic">
        <p>Amsterdam </p>
      </div>
    </div>
    <div class="col-sm-4 image-box">
      <%= image_tag @picture %>
      <div class="text-on-pic">
        <p>Brussels</p>
      </div>
    </div>
    <div class="col-sm-4 image-box">
      <%= image_tag @picture %>
      <div class="text-on-pic">
        <p>New York</p>
      </div>
    </div>
  </div>
</div>