<div class="input-group input-group-lg">
  <div class="btn-group" role="group" aria-label="...">
    <a href="#photos" class="btn btn-default">Photos</a>
    <a href="#about-rental" class="btn btn-default">About this rental</a>
    <a href="#reviews" class="btn btn-default">Reviews</a>
    <a href="#about-host" class="btn btn-default">The Host</a>
    <a href="#address" class="btn btn-default">Address</a>
  </div>
</div>