<div class="input-group input-group-lg">
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Photos</button>
  <button type="button" class="btn btn-default">About this rental</button>
  <button type="button" class="btn btn-default">Reviews</button>
  <button type="button" class="btn btn-default">The Host</button>
  <button type="button" class="btn btn-default">Location</button>
</div>
</div>

