

<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <h1>New Rental</h1>

      <%= render 'form' %>

      <%= link_to 'Back', rentals_path %>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>

